.AddOpinion {

}

.AddOpinion :global(.index__ant-modal-title) {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.AddOpinion :global(.index__ant-btn-primary) {
    background: #7AE274;
    border-color: #7AE274;
    border-radius: 8px;
    height: 40px;
}

.AddOpinion :global(.index__ant-btn) {
    border-radius: 8px;
    height: 40px;
}

.AddOpinion :global(.index__ant-modal-content) {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.AddOpinion :global(.index__ant-modal-header) {
    border-radius: 15px 15px 0 0;
}

.AddOpinion :global(.index__ant-btn-loading) :global(.anticon) {
    padding-right: 10px;
}

.AddOpinion :global(.index__ant-btn-loading) svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.AddOpinion textarea {
    width: 98%;
    background: #F7F7F7;
    border-width: 0;
    border-bottom: 3px solid #29BDAF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.OpinionRate {
    color: #7AE274;
    display: block;
    padding-bottom: 15px;
}
