.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 64px;
    box-sizing: border-box;
    z-index: 90;
}

.Logo {
    position: absolute;
    margin-left: 39%;
    padding-top: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: normal;
    text-align: center;
}

.Toolbar nav {
    height: 100%;
}

.Logging {
    display: flex;
    height: 100%;
}

.Logging a {
    text-decoration: none;
    height: 100%;
    padding: 16px 0;
    margin: 0 24px;
    box-sizing: border-box;
    display: block;
}

.Logging a:hover,
.Logging a:active,
.Logging a.active {
    border-bottom: 1px solid #ffffff;
}

.Register a {
    color: #FF53BA !important;
    font-weight: 800;
}

.Register a:hover {
    color: #ffffff !important;
     border-bottom: 1px solid #FF53BA;
}


