.OpinionsField {
    padding-bottom: 40px;
}

.OpinionsField::-webkit-scrollbar {
    display: none;
}

.Opinions {
    border: 1px solid #C5C5C5;
    margin: 0;
    padding: 0;
    list-style: none;
}

.FlexBox {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: #777777;
    font-size: 13px;
}

.Button {
    margin-bottom: 15px;
    display: inline-block;
}

.Button button {
     outline: none;
     border: 1px solid transparent;
     background: #7AE274;
     border-radius: 10px;
     font: inherit;
     font-weight: bold;
     font-size: 14px;
     color: #ffffff;
     padding: 1px 10px;
     margin-left: 0px;
     width: 160px;
     height: 37px;
     box-sizing: border-box;
 }
.Button button:disabled {
    cursor: not-allowed !important;
}

.Button button:not(:disabled):hover {
    background: #7AE274;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.Sort {
    text-transform: uppercase;
}

.SortButton {
    outline: none;
    background: transparent;
    border: none;
    padding: 10px;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.SortButton:hover {
    color: #22C7B7;
}
