body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to bottom, #aaede7 0%, #29bdaf 100%);
    background-attachment: fixed;
    overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
