@import '../../../node_modules/antd/es/spin/style/index.css';
@import '../../../node_modules/antd/es/alert/style/index.css';

.Auth {
    margin-top: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    position: absolute;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 684px;
    left: 50%;
    transform: translate(-50%,0);
    color: rgba(0, 0, 0, 0.74);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.Auth p {
    color: rgba(0, 0, 0, 0.47);
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.Auth h1 {
    color: #7AE274;
    font-size: 30px;
    line-height: 37px;
    margin-top: 15px;
    margin-bottom: 70px;
    align-items: center;
    text-align: center;
}

.Auth form {
    display: block;
}
.Auth input {
    width: 460px;
    background: #ffffff;
    font: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    transition: all 0.4s ease 0s;
    height: 37px;
    color: #555555;
    outline: none;
    border: none;
    border-bottom: 2px solid #C5C5C5;
    box-sizing: border-box;
    padding: 9px 10px;
    margin: 30px 0;
    display: block;
}

.Auth input:focus {
    border-bottom: 2px solid #555555;
}

.Auth input::-webkit-input-placeholder {
    color: #C5C5C5;
}

.Register {
    width: 280px;
    height: 51px;
    border-radius: 13px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    border: transparent;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    background: grey;
}

.Register:hover {
    transition: all 0.4s ease 0s;
    background: #7AE274;
}

.Switch {
    margin-left: 10px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #29BDAF;
    background: transparent;
    border: none;
    text-decoration: none;
}

.Register:disabled {
    background: #C5C5C5;
    cursor: not-allowed !important;
}

.Register:not(:disabled):hover {
    background: #7AE274;;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

:global(.ant-input).Unvalid {
    background: #FFD5D5;
    color: #c42525;
    transition: all 0.4s ease 0s;
    border-bottom: 2px solid #c42525 !important;
}

.Auth :global(.index__ant-spin) {
    padding-top: 35px;
}

.Auth :global(.index__ant-alert) {
}

.Spin {
    width: 524px;
    height: 85px;
    align-content: center;
    text-align: center;
}
