.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.NavigationItem a {
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    padding: 16px 24px;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    display: block;
}

nav .NavigationItem a:hover,
nav .NavigationItem a:active,
nav .NavigationItem a.active {
    border-bottom: 1px solid #ffffff;
}
