.Form {
    text-align: center;
}

.Drugs {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
}

.Header {
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 8%;
    margin-top: 40px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.Tags {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 40px;
    width: 92%;
}

.Sort {
    float: right;
    text-transform: uppercase;
    color: #777777;
    font-size: 13px;
    margin-top: 20px;
}

.SortButton {
    outline: none;
    background: transparent;
    border: none;
    padding: 10px;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.SortButton:hover {
    color: #22C7B7;
}
