.PriceItem {
    padding: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.PriceItem:not(:last-child){
    border-bottom: 1px solid #C5C5C5;
}

.PharmacyName {
    font-weight: bold;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.74);
}

.Price {
    font-weight: bold;
    font-size: 38px;
    color: #FF53BA;
}

.Price small {
    font-size: 25px;
}

.Locations {
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.47);
}

.Locations svg {
    height: 10px;
    width: 30px;
}

.FlexBox {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ReportLink {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: rgba(0, 0, 0, 0.25);
    margin-right: 10px;   
}