.Description {
    padding: 30px 0;
}

.Description h1 {
    color: #FF53BA;
    margin: 0 0 10px;
}

.Description p {
    margin-top: 5px;
    line-height: 22px;
    text-align: justify;
}

.Description img {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.Description span:nth-of-type(1) {
    display: inline-block;
    font-weight: 600;
    font-size: 22px;
    margin: 0 10px;
}

.Description span:nth-of-type(2) {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.47);
}

.Tags {
    height: 100%;
}
.DescriptionContent {
    height: 200px;
}
