
.MainPage {

}

.Header {
    width: 760px;
    height: 97px;
    margin-left: 64px;
    padding-top: 150px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: normal;
}

.SmallHeader {
    width: 523px;
    padding: 50px 64px;
}