.Layout {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #AAEDE7 0%, #29BDAF 100%);
    color: #FFFFFF;
}

.Content {
    margin-top: 72px;
}
