.SearchField {
    display: inline-block;
    margin: 25px auto 0;
    background-color: white;
    border-radius: 10px;
    padding-left: 12px;
    color: rgba(0, 0, 0, 0.47);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.SearchField input {
    transition: all 0.4s ease 0s;
    width: 190px;
    height: 28px;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.47);
    box-sizing: border-box;
    border-radius: 0;
    padding: 9px;
} :required {
    background-color: indianred;
    border: 1px solid red;
}

.SearchField input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.47);
}

.SearchField button {
    text-transform: uppercase;
    outline: none;
    border: none;
    background: #7AE274;
    border-radius: 0 10px 10px 0;
    outline: none;
    font: inherit;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    padding: 1px 10px;
    margin-left: 0px;
    width: 100px;
    height: 37px;
    box-sizing: border-box;
}

.SearchField button:disabled {
    cursor: not-allowed !important;
}

.SearchField button:not(:disabled):hover {
    background: #7AE274;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

:global(.ant-input).Unvalid {
    background: #bef5bb;
    transition: all 0.4s ease 0s;
}
