.LocationItem {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 10px 0;
}

.LocationItem svg {
    color: #7AE274;
    padding-right: 10px;
}

.Address {
    display: inline-block;
    position: relative;
    width: 260px;
    color: rgba(0, 0, 0, 0.74);
}

.Address span {
    position: relative;
    padding-right: 10px;
}

.Address span::after {
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background: rgba(0, 0, 0, 0.47);
    width: calc(250px - 100%);
    left: 100%;
    top: 12px;
  }

.Distance {
    display: inline-block;
    color: rgba(0, 0, 0, 0.47);
}

.Link {
    margin-left: 20px;
    outline: none;
    background: transparent;
    border: none;
    font: inherit;
    font-size: 14px;
    line-height: 17px;
    color: #7AE274;
    display: flex;
    text-decoration-line: underline;
    cursor: pointer;
}
