@import '../../../../node_modules/antd/es/select/style/index.css';

.MultiSelect {

}

.MultiSelect button {
    text-transform: uppercase;
    outline: none;
    border: 1px solid transparent;
    background: #FFFFFF;
    border-radius: 10px;    
    font: inherit;
    font-weight: bold;
    font-size: 18px;
    color: #1888A2;
    padding: 6px 10px;
    margin: 20px 30px;
    margin-left: 450px;
    width: 156px;
    height: 59px;
    box-sizing: border-box;
}

.MultiSelect button:hover {
    color: #ffffff;
    background: #7AE274;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.MultiSelect :global(.index__ant-select) {
    margin: 20px 0 20px 64px;
    position: absolute;
    color: #FFFFFF !important;
}

.MultiSelect :global(.index__ant-select-selection) {
    background: rgba(0, 95, 116, 0.18);
    border-color:  rgba(0, 95, 116, 0.18);
    border-radius: 10px;
    height: 59px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.MultiSelect :global(.index__ant-select-selection__rendered) {
    width: 100%;
}
.MultiSelect :global(.index__ant-select-selection__placeholder) {
    color: #FFFFFF !important;
}
.MultiSelect :global(.index__ant-select-selection__choice) {
    border-radius: 5px;
    color:  #1888A2;;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #595959;
    border-radius: 3px;
}

:global(.index__ant-select-dropdown-menu) {
    max-height: 200px;
}

